*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.App {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top left,black ,rgb(60, 59, 59));
  text-align: center;
}
.navbar{
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo{
  color: white;
  font-size: 30px;
  font-weight: 500;
}
.navbtn{
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  color: grey;
  cursor: pointer;
}

/* login */
.login{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logincard{
  padding: 20px;
  background-color:white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 10px 15px 15px 0px black;
}
.logintext{
  color: grey;
}



/* chat */